@using ThirdPartyLicenceGenerator.Models
@using ThirdPartyLicenceGenerator.Web.Mvc.Models
@model IEnumerable<PackagesViewModel>
@{
    ViewBag.Title = "Packages";
}

<h1>Packages</h1>

@foreach (var item in Model)
{
    if (item.Result.PackageType == PackageType.NuGet)
    {
        Html.RenderPartial("~/Views/Home/_NuGetPackages.cshtml", item.Result.As<NuGetPackage>());
    }
}
