
@{
    ViewBag.Title = "Generate licences";
}

<h1>Generate licences</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">Parse file</h6>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ParseFile", "Home", FormMethod.Post, new {@enctype = "multipart/form-data"}))
        {
            <div class="form-group">
                <label for="file">Packages source file</label>
                <input type="file" name="file" id="file" data-val="true" data-val-required="" />
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">Parse directory</h6>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ParseDirectory", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label for="file">Directory path</label>
                <input type="text" name="path" id="path" class="form-control" autocomplete="off" data-val="true" data-val-required="" />
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>
</div>